# ================================
# Terraform
# ================================
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
crash.log
crash.*.log

# Terraform override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Terraform lock file (keep or ignore based on policy)
.terraform.lock.hcl

# ======
